{% extends "base.html" %}
{% block title %} All Sessions {% endblock %}
{% block content %}
<div class="d-flex flex-column justify-content-center h-100">
    <div class="row justify-content-center">
        <div class="col-12">
            <h1 class="text-center">
                All Sessions
            </h1>
        </div>
    </div>
</div>
<div class="row justify-content-center align-items-center">
    <div class="col-12 col-md-8">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Date</th>
                    <th scope="col">Details</th>
                    <th scope="col">Edit</th>
                </tr>
            </thead>
            <tbody>
                {% for session in sessions %}
                <tr>
                    <th scope="row">
                        {{ session.id }}
                    </th>
                    <td>
                        {{ session.date }}
                    </td>
                    <td><a href="/sessions/details/{{session.id}}" class="btn btn-primary">See more</a></td>
                    <td><a href="/sessions/edit/{{session.id}}" class="btn btn-primary">Edit</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}