{% extends "base.html" %}


{% block title %} All Exos {% endblock %}


{% block content %}
<div class="d-flex flex-column justify-content-center h-100">
    <div class="row justify-content-center">
        <div class="col-12">
            <h1 class="text-center">
                Details Session {{session.date}}
            </h1>
        </div>
    </div>
</div>



<div class="row justify-content-center align-items-center">
    <div class="col-12 col-md-8">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Series nb</th>
                    <th scope="col">Repetition nb</th>

                </tr>
            </thead>
            <tbody>
                {% for exo in session.exercises %}
                <tr>
                    <th scope="row">
                        {{ exo.exercise.id }}
                    </th>
                    <td>
                        {{ exo.exercise.name }}
                    </td>

                    <td>
                        {{ exo.series }}
                    </td>

                    <td>
                        {{ exo.repetitions }}
                    </td>

                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>



{% endblock %}